<%- include("./Partials/_header")  %>
<div id="main">
    <br><br><br>
    <section class="breadcrumbs">
      <div class="container">
          <ol>
              <li><a href="/">Accueil</a></li>
              <li><a href="/santes">Sante</a></li>
              <li><a href="/santes/<%= santes.id %> "><%= santes.titre %></a></li>
          </ol>
      </div>
  </section><!-- End Breadcrumbs -->
  <div class="container">
    <div class="card mb-3 mt-5">
      <img src="/ressources/images/<%= santes.image %>" height="700px" class="card-img-top" alt="image articles">
      <div class="card-body">
        <h5 class="card-title"><%= santes.titre %> </h5>
        <p class="card-text"><%= santes.vrais %> </p>
        <p class="card-text"><%= santes.faux %> </p>
        <p class="card-text"><%= santes.sommaire %> </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>

  </div>
</div>
<%- include("./Partials/_footer")  %>  