<%- include("./Partials/_header")  %>
<div id="main">
    <br><br><br>
    <section class="breadcrumbs">
      <div class="container">
          <ol>
              <li><a href="/">Accueil</a></li>
              <li><a href="/cultures">Sante</a></li>
              <li><a href="/cultures/<%= cultures.id %> "><%= cultures.titre %></a></li>
          </ol>
      </div>
  </section><!-- End Breadcrumbs -->
  <div class="container">
    <div class="card mb-3 mt-5">
      <img src="/tendances/images/<%= cultures.image %>" height="700px" class="card-img-top" alt="image articles">
      <div class="card-body">
        <p class="card-title text-center"><h1><%= cultures.titre %></h1></p>
        <div class="row">
          <div class="col-md-6 border border-primary"><p class="card-text"><%= cultures.vrais %> </p></div>
          <div class="col-md-6 border border-danger"><p class="card-text"><%= cultures.faux %> </p></div>
        </div>
        <br>
        <div class="text-center"><span><img src="/tendances/images/<%= cultures.barometre %>" class="rounded-circle img-thumbnail" style="width: 500px;" alt=""></span></div>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>

  </div>
</div>
<%- include("./Partials/_footer")  %>  